<div [style.display]="HomeDisplay" [style.visibility]="HomeVisibility">
<div style="text-align: right;">
    <button class="btn btn-link" (click)="showAbout()">about</button>
</div>
<div style="padding-bottom: 2rem;">
<p-table 
    #videoTable
    id="videoTable"
    [value]="Videos"
    styleClass="p-datatable-gridlines"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} to {last} of {totalRecords}"
    [rowsPerPageOptions]="[10, 100, 1000]"
    [tableStyle]="{ 'min-width': '50rem', 'font-family': 'Garamond' }"
    [globalFilterFields]="['Title', 'Tags']"
    [scrollable]="false">
    <ng-template pTemplate="caption">
        <input pInputText type="text" (input)="filterGlobal(videoTable, $event, 'contains')" placeholder="filter" [value]="Filter" />
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Published</th>
            <th>Tags</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video>
        <tr>
            <td>
                <span *ngIf="!video.IsStored">{{ video.Title }}</span>
                <button *ngIf="video.IsStored" (click)="showVideo(video)" class="btn btn-link" style="text-align: left; padding: 0px; margin: 0px;">{{ video.Title }}</button>
            </td>
            <td>{{ toLocalDate(video.PublishedTimestammp) }}</td>
            <td>{{ joinTags(video.Tags) }}</td>
        </tr>
    </ng-template>
</p-table>
</div>
</div>
<app-video *ngIf="ShowVideo" (close)="closeVideo()" [Video]="SelectedVideo"></app-video>
<app-about *ngIf="ShowAbout" (close)="closeAbout()"></app-about>