<button class="btn btn-link" (click)="onClose()" style="float: right;">close</button>
<main>
<p>This is an attempt to archive the Funhaus YouTube channel videos.  In February 2024, they announced that the channel is coming to an end.
    And, at this time, it is unclear what the future holds for the cast (are they called "cast") and the content library.
    As a fan, I don't want to lose them.</p>

<p>I'll be downloading as many videos as I can. There are over 4,000, and the process is slow.  I don't know how long the process will take.
    And we don't know how long the videos will be available on YouTube.</p>

<p style="text-decoration: underline;">Some Notes</p>

<p>I'm not affiliated with Funhaus in any way.  Consider this a fan project triggered by something James said in a live stream.</p>

<p>I'm downloading the videos in 720p.  It's easy to retrieve and takes less space to store than higher quality.</p>

<p>I don't have a way to download the members only videos.  And, I don't expect to come up with a method to get those videos in a timely manner.
    My public position is that I'm not actively working to download them.</p>

<p>I don't know how much it will cost to store so many videos.  I don't really know how much storage is needed.  The rough estimate is $20.00 per month.
    If the cost balloons up then I may not be able to afford to keep the archive online.</p>
</main>